* {
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}



html {
    scroll-behavior: smooth;
    font-size: 22px;
}



header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    height: 69px;
    width: 100%;
}

#header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}

#logo {
    height: 50px;
}

#logo img {
    height: 50px;
}

#navbar {
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul {
    padding-inline-start: 0px;
    margin: 0;
}

#navbar nav ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    width: 100%;
    margin: 0px;
    
}

main {
    margin: 0px 40px;
}

footer {
    margin: 0px 40px;
}

#mission-image-container {
    margin-top: 69px;
    background-image: url("src/img/img-mission-background.jpg");
    background-position: center;
    height: 700px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tea-of-the-month {
    padding-top: 69px;
}

.image-tile {
    margin: 0 10px;
}

.image-tile img {
    width: 300px;
    height: 200px;
}

.image-tile h3 {
    margin-top: 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

#locations {
    padding-top: 69px;
    width: 100%
}

#locations-background-image {
    background-image: url("src/img/img-locations-background.jpg");
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    min-height: 500px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#locations-heading-container {
    display: flex;
    justify-content: center;
    background-color: transparent;
}

#locations-heading-container * {
    background-color: transparent;
    margin: 0;
    margin-top: 15px;
}

#location-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
    margin-bottom: 15px;
    opacity: 1;
}

.location-tile {
    margin: 15px 40px;
    width: 300px;
    opacity: 1;
}

.location-tile * {
    opacity: 1;
}

#banner {
    height: fit-content;
    width: 100%;
}

#contact-details {
    height: 200px;
}

footer {
    float: left;
    margin-left: 20px;
}